html {
background: url(svan.jpg) no-repeat center center fixed; /* picture is here*/
-webkit-background-size: cover;
-moz-background-size: cover; -o-background-size: cover; background-size: cover;
padding: 0px;
}

#menuField /* id for black panel*/
{
color: #FFFFFF; width: 100%; height: 100px; background-color: #000000; position: relative; top: 450px;
opacity: 0.75; /* How tranparent the panel will be. 1 is not at all*/
}

#menu{ /* id for black element*/ 
		font-size: 22px;
		padding-top: 35px;
}

/* unvisited link */ 
li a:link { color: white;}

/* visited link */ 
li a:visited { color: white;}

/* mouse over link */ 
li a:hover { color: gray;}

/* selected link */ 
li a:active { color: gray;}

li { float: left; }

/* Every link inside <li> but not outside of it*/
li a {
padding: 28px; text-decoration: none;
font-weight: bolder;
}

/* För att centrera menyn*/ 
/*<ul style="list-style-type:none" id="inner">*/
#inner { width: 80%;
margin: 0 auto;
}

a{color: yellow; font-weight: bolder;}

body{margin: 0; padding: 0;}

/* För att centrera menyn*/ 
/*<ul style="list-style-type:none" class="inner">*/
.inner { width: 50%;
margin: 0 auto;
}

/* 
#(id) används bara en gång
.(class) kan användas flera gånger */